# Cloud One
cloudone:
  c1_url: us-1.cloudone.trendmicro.com:443
  api_key: <CLOUD ONE API KEY>

# Log receiver
server:
  host: <SYSLOG RECEIVER IP>
  port: <UDP PORT>
  facility: local3

# Polling interval in seconds
polling:
  interval: 60
  overlap: 10